{% extends 'main/layout.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Create student</h1>
    <h2 class="mb-4 text-muted">Put valid data to create student</h2>

    <form method="post" class="card p-4 shadow-sm bg-light">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_name" class="form-label">Name</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_age" class="form-label">Age</label>
            {{ form.age }}
            {% if form.age.errors %}
                <div class="text-danger">{{ form.age.errors }}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="id_grade" class="form-label">Grade</label>
            {{ form.grade }}
            {% if form.grade.errors %}
                <div class="text-danger">{{ form.grade.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}
